#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.card {
    min-width: 300px;
    max-width: 370px;
    min-height: 500px;
    color: #F5F5F5;
    background-color: #4F0E6E;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    margin: 20px;
    transition: transform 0.5s ease;
}

/* grossir la carte au survol */
.card:hover {
    transform: scale(1.05);
}

.info-box {
    margin: 5px;
    border: 2px solid white;
    border-radius: 20px;
    padding: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.typepartie {
    margin-bottom: 20px;    /* Pour donner un peu d'espace entre typepartie et sidessections */
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    padding-bottom: 5px;
    border-bottom: white 2px solid;
    width: 60%;
    /* initiale en majuscule */
    text-transform: capitalize;
}

.sidessections {
    display: flex;          /* Pour faire en sorte que left-section et right-section s'affichent côte à côte */
    justify-content: space-between; /* Pour répartir l'espace disponible de manière équitable entre left-section et right-section */
    font-size: 1.2rem;
}

.left-section, .right-section {
    width: 45%;  /* Ajusté pour donner de l'espace entre les deux sections */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.icon{
    height: 40px;
    margin-right: 1rem;
}

.title_card{
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8rem;
}
