main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #800080;
    width: 80%;
    border-radius: 2rem;
    margin : 2rem 0 0;
}

.compo div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}

.compo label{
    margin-right: 3rem;
}

.compo input, .compo select{
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    margin-right: 3rem;
    background: white;
    padding: 0.5rem;
}

.jetons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 1rem;
}

.jetons div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: calc(20% - 2rem);
    margin: 0.5rem;
}

.jetons div img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.jetons div input{
    height: 2rem;
    background: white;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin: 0.5rem;
}

.validation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 1rem;
    width: 60%;
}

.validation button{
    width: 10rem;
    height: auto;
    border-radius: 5px;
    border: none;
    margin-right: 3rem;
    padding: 0.5rem;
    cursor: pointer;
    background: #800080;
    color: white;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 16px;
}

.success{
    display: flex;
    align-items: center;
    background: #66ff66;
    padding: 0 0.5rem;
    border-radius: 10px;
    border: 2px solid #00cc00;
    display: none;
}